<style>
  .message-content { font-family: Arial, Helvetica, sans-serif; max-width:
  600px; font-size: 18px; line-height: 24px; }
</style>

<div class='message-content'>
  <p>Hello {{name}}</p>
  <br />
  <p>We received your request to reset your password.</p>
  <p>If you were the one who requested the password redefinition, click on the
    link below 👇</p>
  <p><a href='{{link}}'>Reset my password</a></p>
  <p>If you were not the one who requested the password redefinition, just
    ignore this email.</p>
  <br />
  <p>Thank you!</p>
  <p>Team Sales API</p>
</div>